<div class="doc">

	<h1>Resources</h1>
	<hr />
	<table width="100%">
		<tr><td><a href="/merchants">How It Works Narrative</a></td></tr>
		<tr><td>
			Process Flow Chart
			(<a href="/downloads/MerchantProcessChart.pptx">pptx</a> or <a href="/downloads/MerchantProcessChart.zip">zip</a>)
		</td></tr>
		<tr><td>Advantages Chart (<a href="/downloads/AdvantagesChart.pdf">pdf</a>)</td></tr>
		<tr><td><a href="http://cityslicking.jarrodtaylor.com/">Demo Site</a></td></tr>
		<tr><td>
			Merchant Agreement
			(<a href="/downloads/CityslickingAdvertisingandPromotionsAgreement.doc">doc</a> or <a href="/downloads/CityslickingAdvertisingAndPromotionsAgreement.zip">zip</a>)
		</td></tr>
		<tr><td><a href="mailto:suggestions@cityslicking.net">Charity Suggestions</a></td></tr>
	</table>
	
</div>
