<% @deal = Deal.new unless @deal %>

<div class="doc">
	
	<p><a href="/admin">&larr; Back to list</a></p>
		
	<form method="post" enctype="multipart/form-data">
		
		<fieldset>
			<legend>Deal</legend>
			<p class="left-field">
				<label for="merchant">Merchant</label>
				<select name="merchant" id="merchant">
					<% Merchant.each do |merchant| %>
						<option value="<%= merchant.id %>" <%= "selected" if @deal.merchant_id == merchant.id %>><%= merchant.name %></option>
					<% end %>
				</select>
			</p>
		
			<p class="right-field">
				<label for="created_by">Salesperson</label>
				<select name="created_by">
						<option value="0"></option>
					<% User.all(:salesman => 't').each do |user| %>
					<option value="<%= user.id %>" <%= ' selected' if @deal.created_by == user.id  %>><%= user.email %></option>
					<% end %>
				</select>
			</p>
		</fieldset>
		
		<fieldset>
			<legend>Description</legend>
			<p>
				<label for="title">Short description</label>
				<input type="text" class="textfield" name="title" id="title" value="<%= @deal.title %>" />
			</p>
		
			<p>
				<label for="pic">Image</label>
				<input type="file" name="pic" id="pic" />
			</p>
		
			<p>
				Full description (Markdown formatting)
				<br />
				<textarea cols="100" rows="15" name="description" id="description" class="markItUp"><%= @deal.description %></textarea>
			</p>
		
			<p>
				<label for="legalese">Restrictions/Conditions</label>
				<input type="text" class="textfield" name="legalese" id="legalese" value="<%= @deal.legalese %>" />
			</p>
		</fieldset>
		
		<fieldset>
			<legend>Redemption</legend>
			<p class="left-field">
				<label for="publish_date">Publish Date</label>
				<%= date_to_field('publish_date', @deal.publish_date) %>
			</p>

			<p class="right-field">
				<label for="expiration_date">Expiration Date</label>
				<%= date_to_field('expiration_date', @deal.expiration_date) %>
			</p>
		
			<p class="left-field">
				<label for="max_saves">Maximum number of uses</label>
				<input type="text" class="textfield" name="max_saves" id="max_saves" value="<%= @deal.max_saves %>" style="width: 50px;" />
			</p>
		
			<p class="right-field">
				<label for="max_returns">Maximum number of return visits</label>
				<input type="text" class="textfield" name="max_returns" id="max_returns" value="<%= @deal.max_returns %>" style="width: 50px;" />
			</p>

			<p class="left-field">
				<label for="first_percent">First use percentage</label>
				<select name="first_percent" id="first_percent">
					<option value="50" <%= "selected" if @deal.first_percent == 50 %>>50</option>
					<option value="55" <%= "selected" if @deal.first_percent == 55 %>>55</option>
					<option value="60" <%= "selected" if @deal.first_percent == 60 %>>60</option>
					<option value="65" <%= "selected" if @deal.first_percent == 65 %>>65</option>
					<option value="70" <%= "selected" if @deal.first_percent == 70 %>>70</option>
					<option value="75" <%= "selected" if @deal.first_percent == 75 %>>75</option>
					<option value="80" <%= "selected" if @deal.first_percent == 80 %>>80</option>
					<option value="85" <%= "selected" if @deal.first_percent == 85 %>>85</option>
					<option value="90" <%= "selected" if @deal.first_percent == 90 %>>90</option>
				</select>
			</p>

			<p class="right-field">
				<label for="return_percent">Return percentage</label>
				<select name="return_percent" id="return_percent">
					<option value="25" <%= "selected" if @deal.return_percent == 25 %>>25</option>
					<option value="30" <%= "selected" if @deal.return_percent == 30 %>>30</option>
					<option value="35" <%= "selected" if @deal.return_percent == 35 %>>35</option>
					<option value="40" <%= "selected" if @deal.return_percent == 40 %>>40</option>
				</select>
			</p>
		
			<p>
				<label for="code">Redemption code</label>
				<input type="text" class="textfield" name="code" id="code" value="<%= @deal.code %>" />
			</p>
			
			<p>
				<input type="checkbox" name="phone" id="phone" checked /> Enable smartphone redemption<br />
				<textarea cols="100" rows="2" name="phone_msg" id="phone_msg">
Present this confirmation code during checkout to receive the discount: #{@deal.code}.
				</textarea>
			</p>
			
			<p>
				<input type="checkbox" name="sms" id="sms" checked /> Enable SMS redemption<br />
				<textarea cols="100" rows="2" name="sms_msg" id="sms_msg">
Present this confirmation code during checkout to receive the discount: #{@deal.code}.
				</textarea>
			</p>

			<p>
				<input type="checkbox" name="email" id="email" checked /> Enable email reservations<br />
				<textarea cols="100" rows="7" name="email_msg" id="email_msg">
Congratulations, Slicker!  We've reserved this deal for you to use later.  Be sure to check out the deal so you know the when's and where's and if there's any instructions.  When you're ready, just follow this link:

<a href='http://city-slicking.com/save/mobile/#{params[:id]}'>#{deal.title}</a>

Not valid if printed.
				</textarea>
			</p>
		</fieldset>
		
		<fieldset>
			<legend>Locations</legend>
			<p>
				<label for="neighborhood">Neighborhood</label>
				<input type="text" class="textfield" name="neighborhood" id="neighborhood" value="<%= @deal.neighborhood %>" />
			</p>
		
			<p>
				<label>Show this deal in:</label>
				<% City.all.each do |city| %>
				<input type="checkbox" name="cities[<%= city.id %>]" id="cities[<%= city.id %>]" <%= 'checked' if @deal.cities.include? city %> /> <%= city.name %><br />
				<% end %>
			</p>
		
			<p>
				<label>Merchant Location 1</label>
				<input type="text" class="textfield" name="street1" id="street1" value="<%= @deal.locations[0].street if defined? @deal.locations[0].street %>" /><br />
				<input type="text" class="textfield" name="city1" id="city1" value="<%= @deal.locations[0].city if defined? @deal.locations[0].city %>" style="width: 200px;" />
				<input type="text" class="textfield" name="state1" id="state1" value="<%= @deal.locations[0].state if defined? @deal.locations[0].state %>" style="width: 50px;" />,
				<input type="text" class="textfield" name="zip1" id="zip1" value="<%= @deal.locations[0].zip if defined? @deal.locations[0].zip %>" style="width: 100px;" />
				<br /><br />
				<label>Merchant Location 2</label>
				<input type="text" class="textfield" name="street2" id="street2" value="<%= @deal.locations[1].street if defined? @deal.locations[1].street %>" /><br />
				<input type="text" class="textfield" name="city2" id="city2" value="<%= @deal.locations[1].city if defined? @deal.locations[1].city %>" style="width: 200px;" />
				<input type="text" class="textfield" name="state2" id="state2" value="<%= @deal.locations[1].state if defined? @deal.locations[1].state %>" style="width: 50px;" />,
				<input type="text" class="textfield" name="zip2" id="zip2" value="<%= @deal.locations[1].zip if defined? @deal.locations[1].zip %>" style="width: 100px;" />
				<br /><br />
				<label>Merchant Location 3</label>
				<input type="text" class="textfield" name="street3" id="street3" value="<%= @deal.locations[2].street if defined? @deal.locations[2].street %>" /><br />
				<input type="text" class="textfield" name="city3" id="city3" value="<%= @deal.locations[2].city if defined? @deal.locations[2].city %>" style="width: 200px;" />
				<input type="text" class="textfield" name="state3" id="state3" value="<%= @deal.locations[2].state if defined? @deal.locations[2].state %>" style="width: 50px;" />,
				<input type="text" class="textfield" name="zip3" id="zip3" value="<%= @deal.locations[2].zip if defined? @deal.locations[2].zip %>" style="width: 100px;" />
			</p>
		</fieldset>

		<fieldset>
			<legend>Activation</legend>
			<p>
				<label for="preview_authorized_by">Preview authorized by</label>
				<input type="text" class="textfield" name="preview_authorized_by" id="preview_authorized_by" value="<%= @deal.preview_authorized_by %>" />
				<%= @deal.preview_authorized_date %></span>
			</p>
		
			<p>
				<label for="final_corrections_date">Final corrections must be completed by</label>
				<%= date_to_field('final_corrections_date', @deal.final_corrections_date) %>
			</p>
		
			<p>
				<input type="checkbox" name="active" id="active" <%= 'checked="checked"' if @deal.active? %> />
				<span style="font-size: 90%;">Active <%= @deal.date_activated %></span>
			</p>
		</fieldset>
		
		<p>
			<input type="submit" value="Save and Preview" />
			<% if @deal.id %>
				or <a href="/admin/deals/delete/<%= @deal.id %>">remove</a>
			<% end %>
		</p>
		
	</form>
		
</div>
