<div class="doc">
	
	<h1>Contact Us</h1>
		
	<p>
		We're available by phone at:
		<br />
		<em>1-855-SLICKER</em>
	</p>
	
	<p>
		By snail mail at:
		<br /><em>
		CitySlicking<br />
		P.O. Box 1578<br />
		Jamestown, CA  95327</em>
	</p>
	
	<p>
		Or you can send us an email:
	</p>
		
	<form method="post">
		
		<p>
			<select name="subject">
				<option value="Sales">Sales</option>
				<option value="Customer Service">Customer Service</option>
				<option value="Marketing and Communications">Marketing and Communications</option>
			</select>
		</p>
		
		<p>
			<textarea name="body" style="height: 200px;"></textarea>
		</p>
		
		<p>
			<input type="submit" value="Email us" />
		</p>
		
	</form>
	
</div>