<div class="doc">
	<h2>Search for deals in <%= session[:city_name] %></h2>
	<form>
		<p>
			<input type="text" class="searchfield" name="find" value="<%= params[:find] %>" />
			<input type="submit" value="Search" />
		</p>
	</form>
	<% @deals.each do |deal| %>
	
		<a class="deal-listing" id="<%= deal.id %>" href="#">
			<p class="expiration">Expires <%= format_day deal.expiration_date %></p>
			<img src="/images/deals/<%= deal.id %>.jpg" />
			<h2 style="color: #800; width: 500px;"><%= deal.title %></h2>
			<p class="legalese"><%= deal.legalese %></p>
		</a>
		
		<div class="deal" id="details-<%= deal.id %>" style="display: none;">
			<%= deliver 'feature', :layout => false, :locals => {:deal => deal} %>
		</div>
		
	<% end %>
	
	<% if @deals.count == 0 %>
		<p>Sorry, no deals matched your search. Try again.</p>
	<% end %>
</div>
