<div class="doc">
	<h2>Search for deals in <%= session[:city_name] %></h2>
	<form>
		<p>
			<input type="text" class="searchfield" name="find" value="<%= params[:find] %>" <%= 'placeholder="Search..."' if @device == '.mobile' %> />
			<% unless @device == '.mobile' %>
				<input type="submit" value="Search" />
			<% end %>
		</p>
	</form>
	<% @deals.each do |deal| %>
	
		<a class="deal-listing-mobile" href="/deals/<%= deal.id %>">
			<h2><%= deal.title %></h2>
			<p class="legalese"><%= deal.legalese %></p>
			<p class="expiration">Expires <%= format_day deal.expiration_date %></p>
		</a>
				
	<% end %>
	
	<% if @deals.count == 0 %>
		<p>Sorry, no deals matched your search. Try again.</p>
	<% end %>
</div>
