<% unless (params[:featured] == 'false') || (params[:find] && params[:find].length > 0) %>
<% if @features.count > 2 %>
	<p style="text-align: center; margin-top: 22px;">
		<img id="today-featured-deal" src="/images/feature_deals.png" />
	</p>

	<div class="feature" id="feature-1">
		<%= deliver 'feature', :layout => false, :locals => {:deal => @features[0]} %>
	</div>

	<div class="feature" id="feature-2" style="display: none;">
		<%= deliver 'feature', :layout => false, :locals => {:deal => @features[1]} %>
	</div>

	<div class="feature" id="feature-3" style="display: none;">
		<%= deliver 'feature', :layout => false, :locals => {:deal => @features[2]} %>
	</div>

	<div id="other-deals">
		<span id="deal-counter" class="2" style="display: none;"></span>
		<a href="#" id="mobile-btn-1" class="active">1</a>
		<a href="#" id="mobile-btn-2" class="inactive">2</a>
		<a href="#" id="mobile-btn-3" class="inactive">3</a>
	</div>
<% end %>
<% end %>

<div class="doc" style="padding-bottom: 0;">

	<% if session[:user] %>
	<p class="toggle" style="margin: -11px -11px 0 -11px;">
		<a <%= 'class="sticky"' if params[:show] == nil %> href="/deals?featured=false">New Deals</a>
		<a <%= 'class="sticky"' if params[:show] == 'reserved' %> href="/deals?show=reserved&featured=false">My Deals</a>
		<a <%= 'class="sticky"' if params[:show] == 'return' %> href="/deals?show=return&featured=false">Return Deals</a>
	</p>
	<% end %>
	
	<h2 style="margin-bottom: 0; padding-bottom: 0;">Deals in <%= session[:city_name] %></h2>
	<form action="/deals" style="margin-top: 0; padding-top: 0;">
		<p style="margin-top: 0; padding-top: 0;">
			<input type="text" class="searchfield" name="find" value="<%= params[:find] %>" <%= 'placeholder="Search..."' if @device == '.mobile' %> />
			<% unless @device == '.mobile' %>
				<input type="submit" value="Search" />
			<% end %>
		</p>
	</form>

	<% @deals.each do |deal| %>
	
		<a class="deal-listing-mobile" href="/deals/<%= deal.id %>">
			<p class="expiration">
				Good till: <%= format_american_day deal.expiration_date %>
				<% if deal.confirmations.count > 99 %>
					<br />Grabbed: <%= deal.confirmations.count %>
				<% end %>
			</p>
			<h2><%= deal.display_percent %>% Off</h2>
			<p class="legalese" style="font-size: 110%;"><%= deal.merchant.name %></p>
			<p style="font-size: 90%; font-style: italic;"><%= deal.neighborhood %></p>
		</a>
				
	<% end %>
	
	<% if @deals.count == 0 %>
		<p>Sorry, no deals.</p>
	<% end %>
</div>

<div class="doc" id="explainations">
		<h2>How It Works</h2>
		<p>You pay nothing up front. Just select the deals you want to use, show the discount code on your phone to the cashier and collect your savings.</p>
		<p style="text-align: right;"><a href="/how-it-works">Find out more &rarr;</a></p>
</div>
<div class="doc" id="explainations">
		<h2>Daily Deals</h2>
		<p>Never miss another deal! Our latest savings can be delivered right to your inbox every morning with our Daily Deals newsletter.</p>
		<p style="text-align: center;">
			<a href="/subscribe" <%= 'class="sign-in"' unless session[:user] %>><img src="/images/subscribe.png" style="float: none;"></a>
		</p>
</div>