<div class="doc">
	
	<p class="deal-btn">
		<% unless @deal.in_use %>
			<a href="<%= params[:id] %>" title="" <%= session[:user] ? 'class="save-deal"' : 'class="sign-in"' %>><img src="/images/save_deal.png"></a>
		<% else %>
			<img src="/images/deal_in_use.png">
		<% end %>
	</p>
	
	<h1 style="color: #800; margin-bottom: 0;"><%= @deal.display_percent %>% Off at <%= @deal.merchant.name %></h1>
	<h2 style="margin-top: 7px;"><%= @deal.title %></h2>
	
	<p><a href="<%= request.referrer %>">&larr; Find more deals</a></p>

	<hr />
	
	
	<div class="left">
		<p><img src="/images/deals/<%= @deal.id %>.jpg" width="297" /></p>
		<% @deal.locations.each do |location| %>
			<% addr = CGI.escape(location.street + ',' + location.city + ',' + location.state + ',' + location.zip) %>
			<p class="map">
				<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= location.street %>,+<%= location.city %>,+<%= location.state %>+<%= location.zip %>&ie=UTF8&hq=&hnear=<%= location.street %>,+<%= location.city %>,+<%= location.state %>+<%= location.zip %>&z=17"><%= "#{location.street}, #{location.city}, #{location.state} #{location.zip}" %></a>
				<img src="http://maps.google.com/maps/api/staticmap?center=<%= addr %>&zoom=15&size=298x240&markers=color:blue|<%= addr %>&sensor=false" />
			</p>
		<% end %>
	</div>

	<div class="right">
		<div class="share<%= ' share-this-deal' if params['share'] %>">
			<h3>SHARE THIS DEAL</h3>
			<form method="post" action="/share/deal/<%= params[:id] %>">
				<p>
					<input type="text" class="textfield" name="email" id="email" placeholder="Friend's email address" />
					<br />
					<input type="submit" value="Send email" />
					<span style="float: right; margin-top: 1px;">
						<a style="display: inline;" href="http://twitter.com/share" class="twitter-share-button" data-url="http://city-slicking.com/deals/<%= params[:id] %>" data-text="Check out this new deal on City-Slicking!" data-count="none" data-via="cityslicking">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
						<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcity-slicking.com%2Fdeals%2F<%= params[:id] %>&amp;send=true&amp;layout=button_count&amp;width=93&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:93px; height:20px; display: inline;" allowTransparency="true"></iframe>
					</span>
				</p>
			</form>
		</div>
		
		<p style="font-style: italic; color: #777;"><%= @deal.legalese %></p>
		<%= markdown @deal.description %>
	</div>
		
</div>
