<div class="doc">
	<h2>Search for deals in <%= session[:city_name] %></h2>
	<form>
		<p>
			<input type="text" class="searchfield" name="find" value="<%= params[:find] %>" <%= 'placeholder="Search..."' if @device == '.mobile' %> />
			<% unless @device == '.mobile' %>
				<input type="submit" value="Search" />
			<% end %>
		</p>
	</form>
	<% @deals.each do |deal| %>
	
		<a class="deal-listing-mobile" href="/deals/<%= deal.id %>">
			<p class="expiration">
				Good till: <%= format_american_day deal.expiration_date %>
				<% if deal.confirmations.count > 99 %>
					<span style="color: #333;"><br />Grabbed: <%= deal.confirmations.count %></span>
				<% end %>
			</p>
			<h2><%= deal.first_percent %>% DEAL</h2>
			<p class="legalese"><%= deal.merchant.name %></p>
		</a>
				
	<% end %>
	
	<% if @deals.count == 0 %>
		<p>Sorry, no deals matched your search. Try again.</p>
	<% end %>
</div>
