<img class="deal-pic" src="/images/deals/<%= deal.id %>.jpg" />
<div class="specs">
	<h1><%= deal.title %></h1>
	<p class="buttons">
		<a href="#" class="pill tell-a-friend">Tell a Friend</a>
		<a href="<%= deal.id %>" title="" <%= session[:user] ? 'class="save"' : 'class="sign-in"' %>><img src="/images/save_deal.png"></a>
		<a href="/deals/<%= deal.id %>" class="pill see-details">See Details</a>
	</p>
	<p class="meta">
		<span class="legalese"><%= deal.legalese %></span>
		<span class="expiration">Expires <%= deal.expiration_date %></span>
	</p>
</div>
