<span class="deal-frame"><img class="deal-pic" src="http://city-slicking.com/images/deals/<%= deal.id %>.jpg" /></span>
<div class="specs">
	<span class="titles">
		<h1><%= deal.display_percent %>% Off at <%= truncate deal.merchant.name, 33 %></h1>
		<h3 style="margin-top: 7px; margin-bottom: 0;"><%= truncate deal.title, 66 %></h3>
	</span>

	<p class="buttons" style="margin-left: 40px;">
		<a href="/deals/<%= deal.id %>/?share=true" class="pill tell-a-friend">Tell a Friend</a>
		<% unless deal.in_use %>
			<a href="<%= deal.id %>" title="" <%= session[:user] ? 'class="save-feature"' : 'class="sign-in"' %>><img src="/images/save_deal.png"></a>
		<% else %>
			<img src="/images/deal_in_use.png">
		<% end %>
		<a href="/deals/<%= deal.id %>" class="pill see-details">See Details</a>
	</p>
	<p class="meta">
		<%= truncate deal.legalese, 50 %>
		Expires <%= deal.expiration_date %>
	</p>
</div>
