<h1 style="margin: 0;"><%= deal.display_percent %>% Off at <%= deal.merchant.name %></h1>
<h2 style="margin-top: 7px;"><%= deal.title %></h2>
<p><img class="deal-pic" src="/images/deals/<%= deal.id %>.jpg" /></p>

<p class="buttons">
	<% unless deal.in_use %>
		<% if session[:user] %>
			<a href="/save/mobile/<%= deal.id %>"><img src="/images/save_deal.png"></a>
		<% else %>
			<a href="/sign-in"><img src="/images/save_deal.png"></a>
		<% end %>
		
	<% else %>
		<img src="/images/deal_in_use.png">
	<% end %>
	<br />
	<a href="/deals/<%= deal.id %>/?share=true" class="pill tell-a-friend" id="tell-a-friend">Tell a Friend</a>
	<a href="/deals/<%= deal.id %>" class="pill" id="see-details">See Details</a>
</p>
<p class="meta" style="text-align: center;">
	<span class="legalese"><%= deal.legalese %></span>
	<br />
 	<span class="expiration">Expires <%= deal.expiration_date %></span>
</p>
