<p style="text-align: center; margin-top: 22px;">
	<img id="today-featured-deal" src="/images/feature_deals.png" />
</p>

<div class="feature" id="feature-1">
	<%= deliver 'feature', :layout => false, :locals => {:deal => @deals[0]} %>
</div>

<div class="feature" id="feature-2" style="display: none;">
	<%= deliver 'feature', :layout => false, :locals => {:deal => @deals[1]} %>
</div>

<div class="feature" id="feature-3" style="display: none;">
	<%= deliver 'feature', :layout => false, :locals => {:deal => @deals[2]} %>
</div>

<div id="other-deals">
	<a href="#" id="mobile-btn-1" class="active">1</a>
	<a href="#" id="mobile-btn-2" class="inactive">2</a>
	<a href="#" id="mobile-btn-3" class="inactive">3</a>
</div>

<div class="doc" id="explainations">
		<h2>How It Works</h2>
		<p>You pay nothing up front. Just select the deals you want to use, show the discount code on your phone to the cashier and collect your savings. You save 50% to 90% and you can save another 25% to 40% on a return visit. Use the iPhone app for even more features! It's fine tuned for mobile Slicking. <a href="/how-it-works">Find out more &rarr;</a></p>
		
		<br />
		
		<h2>Subscribe</h2>
		<p>Serious City Slicking deserves the latest on every deal. You can get daily deals in your inbox everytime a new deal is available and even learn what deals are in the queue.</p>
		<p style="text-align: center;"><img src="/images/subscribe.png" style="float: none;"></p>	
</div>