<p style="text-align: center; margin-top: 22px;">
	<img id="today-featured-deal" src="/images/feature_deals.png" />
</p>

<div id="featured-deal">

	<div id="deal-info">
		<div id="specs">
			<h1 style="color: #800; font-size: 22px; line-height: 120%; margin: 0; margin-bottom: 11px;"><%= @deals.first.title %></h1>
			<img id="deal-pic" src="/images/deals/<%= @deals.first.id %>.jpg" width="276" />
			<p class="buttons">
				<a href="/deals/1/use?keepThis=true&TB_iframe=true&height=300&width=320" title="" class="thickbox"><img src="/images/save_deal.png"></a>
				<br />
				<a href="#" class="pill" id="tell-a-friend">Tell a Friend</a>
				<a href="/deals/<%= @deals.first.id %>" class="pill" id="see-details">See Details</a>
			</p>
			<p class="meta">
				<span class="legalese"><%= @deals.first.legalese %></span>
				<span class="expiration">Expires <%= @deals.first.expiration_date %></span>
			</p>
		</div>
	</div>
</div>

<div id="other-deals">
	<a href="#" id="1" class="inactive">1</a>
	<a href="#" id="2" class="active">2</a>
	<a href="#" id="3" class="inactive">3</a>
</div>

<div class="doc">
		<h1>HOW IT WORKS</h1>
		<p>You pay nothing up front. Just select the deals you want to use, show the discount code on your phone to the cashier and collect your savings. You save 50% to 90% and you can save another 25% to 40% on a return visit. Use the iPhone app for even more features! It's fine tuned for mobile Slicking. <a href="/how-it-works">Find out more &rarr;</a></p>

		<h1>SUBSCRIBE</h1>
		<p>Serious City Slicking deserves the latest on every deal. You can get daily deals in your inbox everytime a new deal is available and even learn what deals are in the queue.</p>
		<p style="text-align: center;"><img src="/images/subscribe.png" style="float: none;"></p>	
</div>