<p id="how-it-works"><img src="/images/csPoster.png" /></p>

<div class="doc">
	
	<h1>The Elevator Pitch</h1>
	
	<p>Now you can always be ready to slick your city with friends and family – to ‘slick up your heels’ and have a great time!  City-Slicking keeps you informed on up to the minute deals and events in your area which means you’ll always be IN the loop!  As a Slicker, your friends will O-O-O and A-W-E your amazing deal-making power!  The Donald, himself, may start asking for advice (or maybe not).  Gone are the days of slacking around the front porch wondering what to do.  Slicker deals are emailed or texted to you daily – dining, shows, shopping and events – and it costs you NADA, NIL, ZIPPO, NOTHING to opt in.</p>
		
	<h1>How It Works</h1>
	
	<p>It’s really quite simple. As we speak (or I guess, as you read), City-Slicking staff are out and about the town getting the skinny on places and events worth sharing with you.  When a slick deal is found (Eureka!), they team up with the merchant to inform potential customers (YOU) about the offering.</p>
	
	<p>These sizzling deals help get customers in their doors (which makes them very happy – don’t be surprised if you see them dancing). And so, to promote these offers, City-Slicking tells all available Slickers  (that’s YOU) about them which of course, works like a tractor beam, sucking you right into the heart of the action.</p>
	
	<p>Responding to our text or email or visiting our website, you’ll be equipped with an ultra high powered deal code right there on your phone which you’ll  present to the Merchant and soon you’ll be partaking in the cornucopia of goodness that your local retailer is providing. You become a truly satisfied Slicker.</p>
	
	<p>And, you can help to spread this big bargain cheer to others by telling your friends, ‘Hey, guess what’s going down at so-and-so’s today.’  These mobile deals are easy to share with others through social networks, e-mail and of course, good old face to face time. And even local charities benefit!</p>
	
	<h1>Expiration Date?</h1>
	
	<p>Typically, deals will last three months but can go longer or shorter depending on the business. A word of advice: Deals often move fast, so be sure to check your City-Slicking emails and telling your friends.   Don’t be a Slacker, be a Slicker! Take advantage of these deals ASAP!</p>
		
</div>
