<!DOCTYPE html>
<html>

<head>
	<title>City Slicking</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/html.css" />
	
	<!--[if IE]>
		<link type="text/css" rel="stylesheet" href="/stylesheets/ie.css" />
	<![endif]-->
	
	
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-periodicalupdater.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	
	<script type="text/javascript" src="/javascripts/markitup.js"></script>
	<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
	<script type="text/javascript" src="/markitup/sets/markdown/set.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/markitup/skins/simple/style.css" />
	<link rel="stylesheet" type="text/css" href="/markitup/sets/markdown/style.css" />
		
	<link rel="apple-touch-icon" href="/images/favicons/iPad.png" />
	<link rel="shortcut icon" href="/images/favicons/favicon.ico" />
</head>

<body<%= ' class="home"' if request.path_info.include? "/home" %>>
	
	<a href="/"><img id="logo" src="/images/City-Slicking_logo.png" /></a>
	
	<div id="cities">
		<div id="other-cities" style="display: none;">
			<% City.all(:order => :name).each do |city| %>
				<a class="other-city" href="/cities/<%= city.short_name %>"><%= city.name %></a>
			<% end %>
			<a class="other-city" href="#" id="next-city-link">Where should we go next?</a>
			<span id="comingsoon">
				<h2>Coming Soon</h2>
				San Francisco/Bay Area<br />
				L.A. Area<br />
				San Diego<br />
				Oakland/East Bay<br />
				Fresno<br />
				Bakersfield
			</span>
		</div>
		<a id="current-city" href="#"><%= session[:city_name] %></a>
	</div>
	
	<div id="menu">
		<% unless request.path_info.include? "/admin" %>
			<a id="deals" href="/deals" <%= sticky('deals') %>>DEALS!</a>
			<a id="merchants" href="/merchants" <%= sticky('merchants') %>>MERCHANTS</a>
			<% if session[:user] || session[:merchant] %>
				<% if session[:user] %>
					<a id="profile" href="/profile" <%= sticky('profile') %>>PROFILE</a>
				<% elsif session[:merchant] %>
					<a id="merchant-stats" href="/merchants/stats" <%= sticky('stats') %>>STATS</a>
				<% end %>
				<a id="sign-out" href="/sign-out">SIGN OUT</a>
			<% else %>
				<a id="sign-in" class="sign-in" href="#">SIGN IN</a>
			<% end %>
		<% else %>
			<a href="/admin/merchants" <%= sticky('merchants') %>>MERCHANTS</a>
			<a href="/admin/deals" <%= sticky('deals') %>>DEALS</a>
			<a href="/admin/resources" <%= sticky('resources') %>>RESOURCES</a>
			<a href="/admin/users" <%= sticky('users') %>>USERS</a>
		<% end %>
	</div>
	
	<%= flash %>
	<%= yield %>
	
	<div id="footer">
		<div id="explainations">
			<div class="box">
				<img src="/images/save_tag.png" />
				<h1>HOW IT WORKS</h1>
				<p>You pay nothing up front. Just select the deals you want to use, show the discount code on your phone to the cashier and collect your savings.</p>
				<p><a href="/how-it-works">Find out more &rarr;</a></p>
			</div>

			<div class="box">
				<h1>DAILY DEALS</h1>
				<p>Never miss another deal! Our latest savings can be delivered right to your inbox every morning with our Daily Deals newsletter.</p>
				<p style="text-align: center;">
						<a href="/subscribe" <%= 'class="sign-in"' unless session[:user] %>><img src="/images/subscribe.png" style="float: none;"></a>
				</p>
			</div>

			<div class="box">
				<h1>ON THE MOVE</h1>
				<img src="/images/iPhone.png" style="margin-left: 11px;" />
				<p>Try City Slicking on your smartphone to make great deals even easier while you're on the move.</p>
			</div>
		</div>
		
		<p id="sharing">
			<img id="share" src="/images/share_arrow.png" />
			<a href="http://www.facebook.com/freethecoupons"><img src="/images/facebook.png" /></a>
			<a href="http://twitter.com/#!/cityslicking"><img src="/images/twitter.png" /></a>
			<a href="/contact-us"><img src="/images/maile.png" /></a>
			<a href="/deals/rss/<%= session[:city_id] %>"><img src="/images/rss.png" /></a>
		</p>
		<p id="links">
			<a id="news" href="/news">News</a>
			/
			<a id="about-us" href="/about-us">About Us</a>
			/
			<a href="/policies">Policies</a>
			/
			<a href="/contact-us">Contact</a>
			/
			<a href="/admin">Admin</a>
			<% if session[:user] || session[:merchant] %>
			/
			<a href="/sign-out">Sign Out</a>
			<% end %>
			<br />
			&copy; Copyright 2011 City Slicking, LLC. All rights reserved.
		</p>
	</div>
	<img id="close" src="/images/close.png" style="display: none;" />
	<div id="lightbox" style="display: none;"></div>
	<div id="shadow" style="display: none;"></div>
</body>

</html>
