<!DOCTYPE html>
<html>

<head>
	<title>CitySlicking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
	<meta name="format-detection" content="telephone=no" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/mobile.css" />
	
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-periodicalupdater.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/features.js"></script>
	<script type="text/javascript" src="/javascripts/analytics.js"></script>
	<script type="text/javascript" src="/javascripts/hide_addressbar.js"></script>
	
	<link rel="apple-touch-icon" href="/images/favicons/iPad.png" />
	<link rel="shortcut icon" href="/images/favicons/favicon.ico" />
</head>

<body>
	
	<div id="header">
		<a href="/"><img id="logo" src="/images/City-Slicking_logo.png" /></a>

		<div id="cities">
			<div id="other-cities" style="display: none;">
				<% City.all(:order => :name).each do |city| %>
					<a class="other-city" href="/cities/<%= city.short_name %>"><%= city.name %></a>
				<% end %>
				<a class="other-city" href="#" id="next-city-link">Where should<br />we go next?</a>
				<span id="comingsoon">
					<h2>Coming Soon</h2>
					Oakland/East Bay<br />
					Fresno<br />
					Bakersfield
				</span>
			</div>
			<a id="current-city" href="#"><%= session[:city_name] %></a>
		</div>

		<div id="menu">
			<a id="deals" href="/deals" <%= sticky('deals') %>>DEALS!</a>
			<a id="merchants" href="/merchants" <%= sticky('merchants') %>>MERCHANTS</a>
						
			<% if session[:user] || session[:merchant] %>
				<% if session[:user] %>
					<a id="profile" href="/profile" <%= sticky('profile') %>>PROFILE</a>
				<% elsif session[:merchant] %>
					<a id="merchant-stats" href="/merchants/stats" <%= sticky('stats') %>>STATS</a>
				<% end %>
			<% else %>
				<a id="sign-in" href="/sign-in">SIGN IN</a>
			<% end %>
			
		</div>
	</div>	
	
	<%= flash %>
	<%= yield %>
	
	<div id="footer">
		<p>
			<a id="news" href="/news">News</a>
			/
			<a id="about-us" href="/about-us">About Us</a>
			/
			<a href="/policies">Policies</a>
			/
			<a href="/contact-us">Contact</a>
			/
			<% if session[:user] %>
				<a id="sign-out" href="/sign-out">Sign Out</a>
			<% else %>
				<a id="sign-in" class="sign-in" href="#">Sign In</a>
			<% end %>
			
			<br />
			&copy; 2011 City Slicking, LLC. All rights reserved.
		</p>
	</div>
	<img id="close" src="/images/close.png" style="display: none;" />
	<div id="lightbox" style="display: none;"></div>
	<div id="shadow" style="display: none;"></div>
</body>

</html>