<!DOCTYPE html>
<html>

<head>
	<title>City Slicking</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/thickbox.css" />
	<script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-ui.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-periodicalupdater.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/thickbox.js"></script>	
</head>

<body>
	
	<a href="/"><img id="logo" src="/images/csLogo_blue.png" /></a>
	
	<div id="cities">
		<div id="other-cities" style="display: none;">
			<% City.all(:order => :name).each do |city| %>
				<a class="other-city" href="/cities/<%= city.short_name %>"><%= city.name %></a>
			<% end %>
		</div>
		<a id="current-city" href="#"><%= session[:city_name] %></a>
	</div>
	
	<div id="menu">
		<a id="deals" href="/" <%= sticky('home') %>>HOME</a>
		<a id="deals" href="/deals" <%= sticky('deals') %>>DEALS!</a>
		<a id="merchants" href="/merchants" <%= sticky('merchants') %>>MERCHANTS</a>
		<% if session[:user] %>
			<a id="profile" href="/profile" <%= sticky('profile') %>>PROFILE</a>
			<a id="session" href="/sign-out">SIGN OUT</a>
		<% else %>
			<a id="session" href="/sign-in">SIGN IN</a>
		<% end %>
	</div>
	
	<%= flash %>
	<%= yield %>
	
	<div id="footer">
		<p id="sharing">
			<img id="share" src="/images/share_gray.png" />
			<a href="#"><img src="/images/facebook.png" /></a>
			<a href="#"><img src="/images/twitter.png" /></a>
			<a href="#"><img src="/images/maile.png" /></a>
			<a href="#"><img src="/images/rss.png" /></a>
		</p>
		<p>
			<a id="news" href="/news">News</a>
			/
			<a id="about-us" href="/about-us">About Us</a>
			/
			<a href="/policies">Policies</a>
			/
			<a href="mailto:admin@cityslicking.com">Contact</a>
			<br />
			&copy; Copyright 2011 City Slicking, LLC. All rights reserved.
		</p>
	</div>
	
</body>

</html>
