<div class="doc">
	
	<p>Day after day, City Slicking reaches out to thousands of people in your city who love to share their newest discoveries with their friends.  One of those discoveries can be you and your business.  We provide our ‘Slickers' with fascinating local and metropolitan feature articles as well as outstanding mobile deals which are made easy to share with others through social networks, e-mail and of course, in person.  This means that the word gets out quickly on what's happening in your city and where the best of the things that interest them - retail, dining, entertainment, great deals, etc. - can be found.</p>  
	
	<p>Slickers are connected to lots of folks in your area.  City Slicking gives you an opportunity not only to grow your business but to increase customer loyalty and be seen as a valuable part of the community.  Take a moment to learn more or ask us a question.</p>
	
	<h2>What You Get:</h2>
	
	<ul>
		<li>Immediate visibility on-line and on mobile phones throughout the metropolitan area of your deals</li>
		<li>Marketing support in designing your deals</li>
		<li>Creative writers who will shine a light on your business to sell your value to our users</li>
		<li>No up-front costs like other typical marketing campaigns.  No risk to you and payment terms that work like this – we get paid only after our users grab your deals.</li>
		<li>Increased revenue, new customers and kudos from your CPA.</li>
		<li>Support a local charity</li>
	</ul>
	
	<h2>How is City Slicking different from other coupon group-buying sites?</h2>
	
	<p>OK, it's pretty simple really.  Those coupon groups making lots of news recently are not only asking you to give deep discounts to attract customers BUT they also are taking a percentage cut of the action so to speak.  Let's say they tell you to give a 50% discount on a $100 deal. Now, that's not necessarily bad for business – in fact, it makes good sense when you want to get people's attention.  However, with these guys, you're not just out the $50 on each customer presenting their coupon, but you also have to pay them another significant percentage of the deal – often 50% or more – in this example, another 50% is another $25.  So as much as you want new and more loyal customers, can you really afford to give away $75 on each $100 deal??</p>
	
	<p>Now, City Slicking does recommend that you make really great deals so that you can get customers in your door.  Happy customers are good business, especially when they come back and when they discover additional items to purchase beyond your deal.  But here's the difference – we want YOU to succeed!  We simply charge a small flat fee for each person presenting your offer code to get your deal.  When you win, we win and that's the order of our priority.</p>
	
	<p>Like those other sites, we provide your potential new customers with an email on a daily deal that is available for 24 hours. But unlike them, we DON'T require an upfront payment -- so you keep more of your revenue. Of course, this makes it much easier for folks that are in your area to explore and give your business a try. More than that, we work with you to create offers that nurture a “let's do that again” attitude -- repeat business.  After all, you don't want folks ONLY coming in with the deep discounts – you want them to come and experience the value you have to offer and then keep coming.</p>
	
	<h2>So how does the deal work?</h2>
	
	<p>Here's the deal on the deals – our marketing representative will work with you to strategize, define and then design your deal, keeping in mind your specific goals.  After that, you will get to preview your deal.  In addition, we will create an informative and engaging narrative about your business or event and when we activate it, it will be immediately available.</p>
	
	<p>For the first day, your deal will be a featured item on our websites and we will use texting to interact with the Slickers in your area. At the same time, your deal will be seen on smartphones in an attractive graphical format and this will continue for a few months. Now, when customers come with your deal on their phones, they will present to you the special deal code that we've sent to them. The first 24 hour texting based deal codes can be obtain on any cell phone anywhere. The smartphone oriented deal codes that are available for the whole length of your campaign are only obtained in or near your business and of course, we know the who's, when's and where's.</p>
	
	<h2>How long do deals last?</h2>
	
	<p>Typically, deals last about three months but based upon your business goals, we can tailor that period to be longer or shorter.</p>
	
	<h2>How much does it cost?</h2>
	
	<p>This is the good part – a WHOLE LOT LESS than might think.  And because we don't get paid unless people download your deal code in or near your business/event, their no risk to you with big cash outlays up-front or operational losses like you see from those other profit-gobbling buying groups.</p>
	
</div>