<div class="doc">
	<p><em>San Francisco and San Jose Bay Areas, Sacramento, Stockton/Lodi, Los Angeles - July 2011</em></p>
	<h1>Free The Coupons!</h1>
	<p>
		<strong>Contact:</strong><br />
		Nicole Dickey<br />
		Marketing Director<br />
		<a href="mailto:NicoleDickey@City-Slicking.com">NicoleDickey@City-Slicking.com</a><br />
		765-744-6320<br />
		1-855-SLICKER
	</p>
	
	<p>Have you gotten discount coupon offers in your email?  Did you pay the 50% in order to visit a remote spa in Idaho?  How about that hot discount on a spacewalk?  Its time for some really usable deals that don't cost you up front money, money you can lose when a deal goes sour.  City-Slicking deals are the right price - they're FREE to download.</p>
	<p>City-Slicking is jazzed to announce the release of its first consumer-direct discount promotion service consisting of web and mobile internet sites as well as mobile apps.  Focused on delivering the highest value to both consumers and merchants, City-Slicking provides deep discount incentives on the part of retailers in local areas to their desired customers.  But there's more...</p>
	<p>Unlike most group discount services, City-Slicking does not charge consumers for their deal coupons, which are all delivered via mobile phones.  And unlike these groups, does not charge retailers a percentage of their deals.  In addition, Customer Service is paramount in City-Slicking - providing affordable, high value goods and services to ‘Slickers', our members; building local businesses and enhancing the local community.  Even a portion of each deal is given back to the local area via charitable contributions.</p>
	<p>City-Slicking.com founded by John Dickey and Jarrod Taylor will debut in San Francisco and San Jose Bay Areas, Sacramento, Stockton/Lodi, and Los Angeles in July 2011.</p>
	<p>Finally, a dealmaker where everybody wins!!  Check out City-Slicking.com for great deals and informative, engaging content.  Don't be slacker, be a Slicker!!</p>
	<p>Free the coupons!</p>
	<p><em><a href="/downloads/PressRelease.zip">Download this press release.</a></em></p>
</div>