<div class="doc">
	
	<h1>Profile</h1>
	
	<h2>Account Details</h2>
	
	<form>
		<p>
			<input type="text" /> Email address
		</p>
		
		<p>
			<input type="password" /> Password
		</p>
		
		<p>
			<input type="text" /> Zip code
		</p>
		
		<p>
			<input type="text" /> Age
		</p>
		
		<p>
			<input type="radio" /> Male
			<input type="radio" /> Female
		</p>
		
		<p>
			<input type="submit" value="Update Account Details" />
		</p>
	</form>
	
	<h2>Mobile Deals</h2>
	
	<p>You can start sending deal codes to your mobile phone. Enter your mobile number below, then click Verify to start the process.</p>
	
	<form>
		<p>
			+1 <input type="text" />
			<input type="submit" value="Verify" />
		</p>
		<p>City Slicking does not charge for this service. Standard message and data rates may apply. US numbers only.</p>
	</form>
	
	<h2>Deal History</h2>
	
	<p>
		<strong>Buy 1 Get 1 Half Off at Threadless Retail Stores</strong>
		<em>Thursday Apr 14, 2011</em>
	</p>
	
</div>