<script type="text/javascript" charset="utf-8">
	jQuery(function()
	{

		$('#existing').click(function()
		{
			$('p#zip_paragraph').hide();
			$('label#email_label').html('Email address');
			$('p#sign-in-btn').show();
			$('p#register-btn').hide();
		});

		$('#new').click(function()
		{
			$('p#zip_paragraph').show();
			$('label#email_label').html('Email address');
			$('p#sign-in-btn').hide();
			$('p#register-btn').show();
		});

		$('#merchant').click(function()
		{
			$('p#zip_paragraph').hide();
			$('label#email_label').html('Merchant ID');
			$('p#sign-in-btn').show();
			$('p#register-btn').hide();
		});
		
		$('.button').click(function()
		{
			$.post('/sign-in', $('form').serialize(), function(data)
			{
				$('#lightbox').html(data);
			});
			return false;
		});
				
	});
</script>

<%= flash %>

<form method="post" action="/sign-in">
	
	<h2>Sign In or Register</h2>
	
	<p>
		<label for="email" id="email_label">Email address</label>
		<input type="email" class="textfield" id="email" name="email" value="<%= params[:email] %>" />
	</p>
	
	<p>
		<input type="radio" name="account_type" id="existing" value="existing" checked  /> I have an account.
		<br />
		<input type="radio" name="account_type" id="new" value="new" <%= "checked" if params[:account_type] == "new" %>  /> I'm new!
		<br />
		<input type="radio" name="account_type" id="merchant" value="merchant" <%= "checked" if params[:account_type] == "merchant" %> /> I'm a merchant.
	</p>
	
	<p>
		<label for="password">Password</label>
		<input type="password" class="textfield" id="password" name="password" value="cityslicking" />
	</p>
	
	<p id="zip_paragraph" <%= 'style="display: none;"' unless params[:account_type] == "new" %>>
		<label for="zip">Zip code</label>
		<input type="zip" class="textfield" id="zip" name="zip" value="<%= params[:zip] %>" />
	</p>
	
	<p>
		<input type="checkbox" name="tos" id="tos" checked />
		<span style="font-size: 90%;">I agree to the <a href="/policies">Terms of Service</a></span>
	</p>	
	
	<p id="sign-in-btn">
		<input type="submit" class="button" id="commit" name="commit" value="Sign in" />
	</p>

	<p id="register-btn" style="display: none;">
		<input type="submit" class="button" id="commit" name="commit" value="Register" />
	</p>
	
</form>
