html {
	background: #91d9f8 url(../../images/skyline.png) repeat-x fixed center bottom;
	background:
		url(../../images/cityscape1.png) repeat-x fixed -130% bottom,
		url(../../images/cityscape2.png) repeat-x fixed 40% bottom,
		url(../../images/cityscape3.png) repeat-x fixed -75% bottom;
	background-color: #91d9f8;
}

p#flash {
	margin: auto;
	-webkit-box-shadow: 1px 1px 3px #777;
	-moz-box-shadow: 1px 1px 3px #777;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=135, Strength=3);
	background-color: lightyellow;
	padding: 11px 33px;
	font-size: 13px;
	text-align: center;
	color: #800;
}

label {
	display: block;
	font-size: 90%;
}

input.textfield, input.searchfield {
	-webkit-appearance: none;
	width: 400px;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-border-radius: 2px;
	font-size: 16px;
}

input.textfield:focus, input.searchfield:focus {
	outline: none;
	background-color: lightyellow;
	border: 1px solid #999;
}

input.searchfield {
	width: 500px;
}

input.searchfield:focus {
	background-color: mintcream;
}

textarea {
	-webkit-appearance: none;
	width: 700px;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-border-radius: 2px;
	font-size: 16px;
}

textarea:focus {
	outline: none;
	background-color: lightyellow;
	border: 1px solid #999;
}

img#logo {
	position: absolute;
	left: 50%;
	margin-left: -450px;
}

div#cities {
	right: 50%;
	margin-right: -450px;
}

div#other-cities a { width: 230px; }

a#current-city {
	background-image: url(../../images/city_selected.png);
	width: 230px;
	font-size: 18px;
	line-height: 22px;
}

div#menu {
	background-color: black;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	text-align: center;
	line-height: 100%;
	-webkit-box-shadow: 1px 1px 3px #777;
	-moz-box-shadow: 1px 1px 3px #777;
	top: 0;
}

div#menu a { padding: 22px 7px 15px 7px; }

div#admin-links {
	position: fixed;
	top: 50px;
	left: 48%;
	z-index: 1;
	-webkit-box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;
}

div#admin-links a {
 	width: 200px;
	background-color: #222;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	font-size: 90%;
	padding: 3px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}

div#admin-links a:hover {
	background-color: black;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

div#features {
	width: 900px;
	margin: auto;
	margin-top: 30px;
}

img#today-featured-deal {
	float: left;
	margin-left: 60px;
}

img#get-this-deal-free {
	float: right;
	margin-bottom: -45px;
}

div#features div#featured-deals {
	position: absolute;
	width: 800px;
	height: 355px;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 50px;
}

div#features div#featured-deals div.deal {
	background-color: white;
	margin: auto;
	width: 742px;
	padding: 22px;
	-webkit-box-shadow: 1px 1px 7px #777;
	-moz-box-shadow: 1px 1px 7px #777;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
	overflow: auto;
	position: absolute;
	top: 7px;
}

div.featured-position-1 div#deal-1 { left: 7px; }
div.featured-position-1 div#deal-2 { left: 807px; }
div.featured-position-1 div#deal-3 { left: 1607px; }

div.doc div.deal {
	border-top: 1px solid #dedede;
	clear: both;
	padding: 11px;
	overflow: auto;
}

img.deal-pic {
	float: left;
	width: 350px;
}

div.doc div.deal img.deal-pic { width: 297px; }

div#features div#featured-deals div.deal div.specs {
	float: right;
	width: 370px;
}

div.doc div.deal div.specs {
	width: 380px;
	float: right;
}

div.specs span.titles {
	display: inline-block;
	height: 110px;
}

div#features div#featured-deals div.deal div.specs span.titles {
	display: inline-block;
	height: 150px;
}

div.specs span.titles h1 {
	color: #800;
	line-height: 120%;
	margin: 0;
	font-size: 28px;
}

div#features div#featured-deals div.deal div.specs span.titles h1 {
	font-size: 36px;
}

div#features div#featured-deals div.deal div.specs span.titles h3 {
	font-size: 20px;
	line-height: 120%;
}

div.specs p.buttons {
	text-align: center;
	vertical-align: top;
	margin-bottom: 7px;
	width: 300px;
}

div.specs a.pill {
	font-size: 10px;
	color: white;
	text-decoration: none;
	background-color: silver;
	display: inline-block;
	line-height: 19px;
	padding: 0px 5px;
	margin: 0;
	font-family: Verdana;
	margin-top: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.specs a.pill:hover {
	background-color: #777;
}

div.specs a.tell-a-friend { float: left; }
div.specs a.see-details { float: right; }

div.specs p.meta {
	color: #777;
	font-size: 10px;
	margin-top: 0;
	text-align: center;
}

a#left-arrow, a#right-arrow { margin-top: 150px; position: absolute; }
a#left-arrow { left: 50%; margin-left: -420px; }
a#right-arrow { right: 50%; margin-right: -420px; }

div#other-deals {
	position: absolute;
	text-align: center;
	margin-top: 328px;
	width: 900px;
}

div#other-deals a {
	font-family: 'Cuprum';
	text-decoration: none;
	color: #47909D;
	background-image: url(../../images/circle.png);
	background-position: top center;
	display: inline-block;
	width: 21px;
	height: 35px;
	line-height: 48px;
	margin: 0 11px;
}

div#other-deals a:hover, div#other-deals a.active { color: orange; }

div#other-deals a.active { background-position: bottom center; }

div.doc {
	width: 730px;
	margin: auto;
	-webkit-box-shadow: 1px 1px 3px #777;
	-moz-box-shadow: 1px 1px 3px #777;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=135, Strength=3);
	padding: 33px 51px 22px 51px;
	margin-top: 22px;
	-webkit-border-radius: 3px;
}

div.doc h1 {
	font-size: 36px;
}

p.toggle {
	background-color: #f1f1f1;
	text-align: right;
}

p.toggle a {
	display: inline-block;
	padding: 7px 22px;
	text-decoration: none;
	font-size: 90%;
	color: #333;
}

p.toggle a:hover {
	background-color: white;
}

p.toggle a.sticky, p.toggle a:hover.sticky {
	background-color: white;
	font-weight: bold;
}

a.deal-listing {
	border-top: 1px solid #dedede;
	clear: both;
	padding: 11px 11px 0 11px;
	overflow: auto;
	display: block;
	text-decoration: none;
	color: black;
}

a.deal-listing:hover {
	background-color: #DEF0FB;
}

a.deal-listing p.expiration {
	float: right;
}

a.deal-listing img {
	float: left;
	height: 60px;
	margin-right: 11px;
	margin-bottom: 11px;
}

a.deal-listing h2 {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
}

a.deal-listing p.legalese {
	margin: 0;
}

div.left {
	float: left;
	width: 298px;
	text-align: center;
	font-style: italic;
}

div.right {
	float: right;
	width: 398px;
}

p.deal-btn {
	float: right;
	margin-left: 33px;
}

div.person {
	text-align: center;
	width: 240px;
	float: left;
}

div.person img {
	height: 100px;
	margin-top: 30px;
	padding: 3px;
	border: 1px solid #dedede;
}

div.person p {
	font-style: italic;
	font-size: 90%;
	margin: 0;
}

div.person strong {
	font-style: normal;
	font-size: 100%;
}

img#close {
	position: absolute;
	top: 23px;
	left: 50%;
	width: 23px;
	height: 23px;
	margin-left: -214px;
	z-index: 1002;
	display: block;
	opacity: 1;
}

div#lightbox {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 413px;
	margin-left: -207px;
	background: #fff;
	z-index: 1001;
	display: block;
	border: 3px solid #121212;
	padding: 0 11px;
}

div#lightbox p#flash {
	width: 413px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-align: left;
	padding: 11px;
	margin: 0 -11px 11px -11px;
}

div#shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: inline-block;
}

div#footer {
	width: 800px;
	margin: auto;
}

body.featured div#footer {
	margin-top: 380px;
}

div#explainations {
	text-align: center;
	display: block;
	margin: auto;
	width: 828px;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 5px #777;
	-moz-box-shadow: 1px 1px 5px #777;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#777777', Direction=135, Strength=3);
	border: 2px solid white;
	border-bottom-width: 4px;
	background-color: #CCE8F7;
	height: 180px;
	color: #121212;
	margin-left: -16px;
	margin-top: 11px;
	-webkit-border-radius: 3px;
}

div.box {
	text-align: left;
	border: 2px solid white;
	width: 250px;
	height: 100%;
	top: 0;
	padding: 7px 11px;
	display: block;
	background-color: #CCE8F7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDF7FF), to(#CCE8F7));
	float: left;
	font-size: 13px;
}

div.box h1 {
	color: #408B99;
	font-size: 120%;
	margin-bottom: 0;
}

div.box p {
	margin-top: 7px;
	line-height: 150%;
}

div.box img {
	float: right;
}

div#footer p#sharing { float: right; padding-top: 4px; padding-bottom: 11px;}
div#footer p#sharing a { margin-left: 11px; }
div#footer p#links { float: left; }
div#footer p#links a { color: white; }