html { background: #91d9f8 url(../../images/skyline.png) repeat-x fixed center bottom; }

div#header {
	background-color: black;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	text-align: center;
	-webkit-box-shadow: 0 0 3px #777;
	z-index: 1;
	position: relative;
}

p#flash {
	margin: auto;
	-webkit-box-shadow: 1px 1px 3px #777;
	-moz-box-shadow: 1px 1px 3px #777;
	background-color: lightyellow;
	padding: 11px 33px;
	font-size: 13px;
	text-align: center;
	color: #800;
}

label {
	display: block;
	font-size: 90%;
}

input.textfield, input.searchfield {
	-webkit-appearance: none;
	width: 247px;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-border-radius: 2px;
	font-size: 16px;
}

input.textfield:focus, input.searchfield:focus {
	outline: none;
	background-color: lightyellow;
	border: 1px solid #999;
}

input.searchfield {
	width: 96%;
	padding: 3px;
	font-size: 13px;
}

input.searchfield:focus {
	background-color: mintcream;
	padding: 6px;
	font-size: 16px;
}

textarea {
	-webkit-appearance: none;
	width: 247px;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-border-radius: 2px;
	font-size: 16px;
}

textarea:focus {
	outline: none;
	background-color: lightyellow;
	border: 1px solid #999;
}

img#logo {
	float: left;
	width: 160px;
	margin-left: 7px;
}

div#cities { right: 11px; }

div#other-cities a { width: 120px; }

span#comingsoon {
	width: 126px;
}

a#current-city {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#444));
	width: 120px;
	font-size: 15px;
}

div#menu { clear: both; }

div#menu a { padding: 7px; }

div.feature {
	background-color: white;
	margin: 11px;
	padding: 11px;
	padding-bottom: 1px;
	-webkit-box-shadow: 1px 1px 5px #777;
	text-align: left;
	-webkit-border-radius: 3px;
}

div.feature p img.deal-pic {
	width: 276px;
	border: 1px solid #999;
}

div.feature h1 {
	color: #800;
	line-height: 120%;
	margin: 11px;
	margin-top: 0;
	font-size: 28px;
	text-align: center;
}

div.feature h2 {
	text-align: center;
}

p.buttons {
	text-align: center;
}

a.pill {
	font-size: 11px;
	color: white;
	text-decoration: none;
	background-color: silver;
	display: inline-block;
	line-height: 19px;
	padding: 0px 5px;
	margin: 0;
	font-family: Verdana;
	margin-top: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: none;
}

p.meta {
	color: #777;
	font-size: 12px;
	margin-top: 0;
}

div#other-deals {
	text-align: center;
	margin-bottom: 30px;
}

div#other-deals a {
	font-family: 'Cuprum';
	text-decoration: none;
	color: #47909D;
	background-image: url(../../images/circle.png);
	background-position: top center;
	display: inline-block;
	width: 21px;
	height: 35px;
	line-height: 48px;
	margin: 0 11px;
}

div#other-deals a.active { color: orange; background-position: bottom center; }


div.doc {
	-webkit-box-shadow: 1px 1px 5px #777;
	padding: 11px;
	margin: 11px;
}

p.toggle {
	background-color: #f1f1f1;
	text-align: left;
}

p.toggle a {
	display: inline-block;
	padding: 7px;
	text-decoration: none;
	font-size: 90%;
	color: #333;
}

p.toggle a:hover {
	background-color: white;
}

p.toggle a.sticky, p.toggle a:hover.sticky {
	background-color: white;
	font-weight: bold;
}

div#explainations {
	-webkit-border-radius: 3px;
	background-color: #CCE8F7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDF7FF), to(#CCE8F7));
}

div.doc h1, div#explainations h2 {
	text-align: center;
}

a.deal-listing-mobile {
	clear: both;
	padding: 11px;
	color: #444;
	overflow: auto;
	display: block;
	text-decoration: none;
	margin: auto -11px;
	background: -webkit-gradient(linear, 0% 0%, 0% 150%, from(#00d002), to(#ffffff));
	font-weight: bold;
	font-size: 14px;
}

a.deal-listing-mobile p {
	margin-top: 0;
	margin-bottom: 0;
}

a.deal-listing-mobile p.expiration {
	font-size: 90%;
	float: right;
	padding-top: 3px;
	text-align: right;
}

a.deal-listing-mobile h2 {
	margin: 0;
	margin-bottom: 3px;
	font-size: 22px;
	color: white;
	text-shadow: 1px 1px 1px #999;
}

div.person {
	text-align: center;
	margin: 22px 0;
}

div.person img {
	height: 100px;
	padding: 3px;
	border: 1px solid #dedede;
}

div.person p {
	font-style: italic;
	font-size: 90%;
	margin: 0;
}

div.person strong {
	font-style: normal;
	font-size: 100%;
}

p#how-it-works img {
	width: 100%;
}

div.share {
	text-align: left;
	font-style: normal;
	background-color: lightyellow;
	padding: 11px;
	padding-bottom: 0;
	background-color: white;
	color: #121212;
	-webkit-border-radius: 3px;
	border: 3px solid #CCE8F7;
	margin-top: 13px;
}

div.share h3 {
	background-color: #CCE8F7;
	padding: 11px;
	margin: -11px;
	margin-bottom: 11px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDF7FF), to(#CCE8F7));
	color: #408B99;
	font-size: 100%;
}

div.share form p input.textfield {
	width: 95%;
	font-size: 13px;
	margin-bottom: 7px;
}

div.share form p input.textfield:focus {
	background-color: mintcream;
	border-color: silver;
}

img#close {
	position: absolute;
	top: 23px;
	left: 50%;
	width: 23px;
	height: 23px;
	margin-left: -154px;
	z-index: 1002;
	display: block;
	opacity: 1;
}

div#lightbox {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 264px;
	margin-left: -146px;
	background: #fff;
	z-index: 1001;
	display: block;
	border: 3px solid #121212;
	padding: 0 11px;
}

div#lightbox p#flash {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-align: left;
	padding: 3px 11px;
	margin: 0 -11px -11px -11px;
}

div#shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 480px;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: inline-block;
}

div#footer { text-align: center; }
div#footer p a { color: white; font-size: 12px; }
