@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic);
@import url(http://fonts.googleapis.com/css?family=Cabin:bold);

html {
	background: #91d9f8 url(../../images/skyline.png) repeat-x fixed center bottom;
	background:
		url(../../images/cityscape1.png) repeat-x fixed -130% bottom,
		url(../../images/cityscape2.png) repeat-x fixed 40% bottom,
		url(../../images/cityscape3.png) repeat-x fixed -75% bottom;
	background-color: #91d9f8; /* rgb(145, 216, 247); */
}

a img {
	border: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Nobile', Helvetica, Verdana, Arial, sans-serif;
	line-height: 150%;
}

hr {
	border: none;
	border-top: 1px solid silver;
}

.container {
	width: 960px;
	margin: auto;
}

img#logo {
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

div#cities {
	position: absolute;
	right: 50%;
	margin-right: -480px;
	z-index: 1;
}

div#other-cities {
	-webkit-box-shadow: 1px 1px 3px #000;
}

div#other-cities a {
	background-color: #333;
	text-decoration: none;
	color: white;
	display: block;
	width: 200px;
	text-align: center;
	padding: 3px;
	font-size: 90%;
}

div#other-cities a:hover {
	background-color: black;
}

a#current-city {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#444));
	display: inline-block;
	width: 200px;
	padding: 9px 3px;
	-webkit-box-shadow: 1px 1px 3px #000;
	text-align: center;
	color: white;
	text-decoration: none;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	font-family: 'Indie Flower';
	font-size: 22px;
}

div#menu {
	background-color: black;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
	text-align: center;
	line-height: 100%;
}

div#menu a {
	text-decoration: none;
	color: #999;
	font-family: 'Cuprum';
	font-size: 19px;
	padding: 22px 7px 15px 7px;
	display: inline-block;
}

div#menu a:hover, div#menu a.sticky {
	color: white;
}

p#flash {
	width: 780px;
	margin: auto;
	-webkit-box-shadow: 1px 1px 3px #777;
	background-color: lightyellow;
	padding: 11px 33px;
	font-size: 13px;
	text-align: center;
	color: #800;
}

div#featured-deal {
	width: 780px;
	margin: auto;
	margin-top: 60px;
	position: relative;
}

img#today-featured-deal {
	margin-left: 30px;
	margin-bottom: 11px;
}

img#get-this-deal-free {
	position: absolute;
	right: 0;
	top: 0;
}

a#left-arrow, a#right-arrow {
	margin-top: 120px;
}

a#left-arrow {
	float: left;
}

a#right-arrow {
	float: right;
}

div#deal-info {
	background-color: white;
	margin: auto;
	width: 618px;
	padding: 22px;
	-webkit-box-shadow: 1px 1px 7px #777;
	overflow: auto;
}

img#deal-pic {
	float: left;
}

div#specs {
	float: right;
	width: 298px;
}

div#specs h1, div#specs h2 {
	font-family: 'Cabin', Helvetica, Verdana, Arial, sans-serif;
	line-height: 105%;
	margin-top: 0;
}

div#specs p.buttons {
	text-align: center;
	vertical-align: top;
}

div#specs a.pill {
	font-size: 10px;
	color: white;
	text-decoration: none;
	background-color: silver;
	display: inline-block;
	line-height: 19px;
	padding: 0px 5px;
	margin: 0;
	font-family: Verdana;
	margin-top: 6px;
	-webkit-border-radius: 3px;
}

div#specs a.pill:hover {
	background-color: #777;
}

div#specs a#tell-a-friend {
	float: left;
}

div#specs a#see-details {
	float: right;
}

div#specs p.meta {
	color: #777;
	font-size: 11px;
}

div#specs p.meta span.legalese {
	float: left;
}

div#specs p.meta span.expiration {
	float: right;
}

div#other-deals {
	text-align: center;
	margin-top: 11px;
}

div#other-deals a {
	font-family: 'Cuprum';
	text-decoration: none;
	color: #47909D;
	background-image: url(../../images/circle.png);
	background-position: top center;
	display: inline-block;
	width: 21px;
	height: 35px;
	line-height: 48px;
	margin: 0 11px;
}

div#other-deals a:hover {
	color: orange;
}

div#other-deals a.active {
	background-position: bottom center;
	color: orange;
}

div#explainations {
	text-align: center;
	display: block;
	width: 900px;
	margin: 30px auto;
}

div.box {
	text-align: left;
	font-family: 'Cuprum';
	height: 222px;
	border: 3px solid white;
	width: 250px;
	top: 0;
	padding: 7px 11px;
	margin: 21px 11px;
	display: block;
	background-color: #CCE8F7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDF7FF), to(#CCE8F7));
	-webkit-box-shadow: 1px 1px 5px #777;
	float: left;
}

div.box h1 {
	color: #408B99;
	font-size: 150%;
	margin-bottom: 0;
}

div.box p {
	margin-top: 7px;
	line-height: 120%;
}

div.box img {
	float: right;
}

div.doc {
	width: 726px;
	margin: auto;
	-webkit-box-shadow: 1px 1px 3px #777;
	background-color: white;
	padding: 33px 60px;
	font-size: 13px;
	overflow: auto;
}

div.doc h1, div.doc h2, div.doc h3 {
	font-family: 'Cabin', Helvetica, Verdana, Arial, sans-serif;
}

div.doc a {
	color: #800;
}

div.left {
	float: left;
	width: 298px;
	text-align: center;
	font-style: italic;
}

div.right {
	float: right;
	width: 398px;
}

div#footer {
	clear: both;
	width: 860px;
	margin: auto;
	color: white;
	font-size: 13px;
	font-family: 'Cuprum';
}

p#meta-info {
	float: left;
}

p#meta-info a {
	margin-right: 11px;
}

p#meta-info a:hover {
	text-decoration: underline;
}

div#footer p a {
	text-decoration: none;
	color: white;
}

p#copyright {
	float: right;
}

p#sharing {
	text-align: center;
}

p#sharing img {
	margin-left: 11px;
}

img#share {
	display: inline-block;
	padding-left: 37px;
}