@import url(http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic);
@import url(http://fonts.googleapis.com/css?family=Cabin:bold);

body {
	font-family: 'Nobile', Helvetica, Verdana, Arial, sans-serif;
	line-height: 150%;
	background-color: #ghostwhite;
	font-size: 13px;
	text-align: center;
}

hr {
	border: none;
	border-top: 1px solid silver;
}


h1, h2, h3 {
	font-family: 'Cabin', Helvetica, Verdana, Arial, sans-serif;
	color: #800; line-height: 120%; margin: 0;
}

a {
	color: #800;
}
