<center>
	<h1 style="color: #800; margin-bottom: 0;"><%= @deal.display_percent %>% Off at <%= @deal.merchant.name %></h1>
	<h2 style="margin-top: 7px;"><%= @deal.title %></h2>

	<ul style="margin: 0; padding: 0;">
	<% @deal.locations.each do |location| %>
		<li style="list-style-type: none;">
			<%= "#{location.street}, #{location.city}, #{location.state} #{location.zip}" %>
		</li>
	<% end %>
	</ul>
	
	<% if @deal.email? %>
		<p>
			<a href="/reserve/<%= params[:id] %>"><strong>Reserve this deal to use later on my smartphone</strong></a>
			<br />(Email a reminder and link)
		</p>
	<% end %>

	<% if @deal.sms? %>
		<p <%= "style='display: none;'" unless @user.optin? && @user.mobile %>>
			<a href="/save/sms/<%= params[:id] %>"><strong>SMS directly to my phone</strong></a>
			<br />(Must redeem within 24 hours)
		</p>
	<% end %>
	
	<% if @deal.phone? %>
		<% if @deal.email? || @deal.sms? %>
			<p>You can also use this deal from our mobile site.</p>
		<% else %>
			<p><strong>You can only use this deal from our mobile site.</strong></p>
		<% end %>
	<% end %>

	<p class="legalese"><em><%= @deal.legalese %></em></p>
</center>