<script type="text/javascript" charset="utf-8">
	jQuery(function()
	{
		
		function difference(num1, num2) { return (num1 > num2)? num1-num2 : num2-num1 }
		
		$('#smartphone').click(function()
		{
			var deal = $(this).attr('href');
			if (!!navigator.geolocation)
			{
				navigator.geolocation.getCurrentPosition(gps_enabled, noLocation, {enableHighAccuracy:true,maximumAge:300000});
			} else
			{
				window.location = "/save/phone/" + deal
			}
			return false;
		});
		
		function supports_geolocation() {
		  return !!navigator.geolocation;
		}
		
		function gps_enabled(position)
		{
			var vacinity = <%= @deal.locations.count %>;
			<% @deal.locations.each do |location| %>
				if ((difference(position.coords.latitude, <%= location.lat %>) < 0.3) && (difference(position.coords.longitude, <%= location.long %>) < 0.3))
				{
					vacinity = vacinity - 1;
				}
			<% end %>
			
			if (vacinity < <%= @deal.locations.count %>)
			{
				var deal = $('#smartphone').attr('href');
				window.location = "/save/gps/" + deal
			}
			else
			{
				alert("Oops, remember you gotta be in the store to do this. Please grab this deal you're there. Happy Slicking!!")
			}
		}
		
		function noLocation()
		{
			alert("Oops, remember you gotta be in the store to do this. Please grab this deal you're there. Happy Slicking!!")
		}
						
	});
	
</script>
<div class="doc">

<center>
	<h1 style="color: #800; margin-bottom: 0;"><%= @deal.display_percent %>% Off at <%= @deal.merchant.name %></h1>
	<h2 style="margin-top: 7px;"><%= @deal.title %></h2>

	<p><em>This deal is available at:</em></p>
	<ul style="margin: 0; padding: 0;">
	<% @deal.locations.each do |location| %>
		<li style="list-style-type: none;">
			<%= "#{location.street}, #{location.city}, #{location.state} #{location.zip}" %>
		</li>
	<% end %>
	</ul>
	
	<% if @deal.phone? %>
		<p><strong><a href="<%= params[:id] %>" id="smartphone">Show me the deal code!</a></strong><br />(Must redeem within 4 hours)</p>
	<% else %>
		<p><strong>This deal isn't available to use on your smartphone.</strong></p>
	<% end %>

	<p class="legalese"><em><%= @deal.legalese %></em></p>
</center>

</div>