<div id="featured-deal">
	<img id="today-featured-deal" src="/images/feature_deals.png" />
	<img id="get-this-deal-free" src="/images/get_deal.png" />

	<a id="left-arrow" href="#"><img src="/images/arrow_left.png" /></a>
	<a id="right-arrow" href="#"><img src="/images/arrow_right.png" /></a>

	<div id="deal-info">
		<img id="deal-pic" src="/images/tmp/pizza.jpg" />
		<div id="specs">
			<img id="widget" src="/images/widget.png" />
		</div>
	</div>
	
	<div id="other-deals">
		<a href="#" id="1" class="inactive">1</a>
		<a href="#" id="2" class="active">2</a>
		<a href="#" id="3" class="inactive">3</a>
		<a href="#" id="4" class="inactive">4</a>
		<a href="#" id="5" class="inactive">5</a>
	</div>
</div>

<div id="explainations">
	<div class="box">
		<img src="/images/save_tag.png" />
		<h1>HOW IT WORKS</h1>
		<p>You pay nothing up front. Just select the deals you want to use, show the discount code on your phone to the cashier and collect your savings. You save 50% to 90% and you can save another 20% to 40% on a return visit. Use the iPhone app for even more features! It's fine tuned for mobile Slicking.</p>
	</div>
	
	<div class="box">
		<h1>MOBILE APPS</h1>
		<p>City Slicking on your iPhone, iPad and iPod touch makes great deals even more accessable while you are on the move. Download it from the App Store and tell us what you think.</p>
	</div>
	
	<div class="box">
		<h1>SUBSCRIBE</h1>
		<p>Serious City Slicking deserves the latest on every deal. You can get daily deals in your inbox everytime a new deal is available and even learn what deals are in the queue.</p>
		<form>
			<p><input type="text" /></p>
			<p><input type="submit" value="Subscribe" /></p>
		</form>
	</div>
</div>
