<div class="doc">
	
	<p style="float: right; margin-left: 33px;">
		<a href="/deals/1/use?keepThis=true&TB_iframe=true&height=300&width=320" title="" class="thickbox"><img src="/images/save_deal.png"></a>
	</p>
	
	<h1 style="color: #800; font-size: 36px; line-height: 120%; margin: 0;"><%= @deal.title %></h1>
	
	<hr />
	
	<div class="left">		
		<p><img src="/images/tmp/pizza.jpg" /></p>
		<% @deal.locations.each do |location| %>
			<% addr = CGI.escape(location.street + ',' + location.city + ',' + location.state + ',' + location.zip) %>
			<p class="map">
				<%= "#{location.street}, #{location.city}, #{location.state} #{location.zip}" %>
				<img src="http://maps.google.com/maps/api/staticmap?center=<%= addr %>&zoom=15&size=298x240&markers=color:blue|<%= addr %>&sensor=false" />
			</p>
		<% end %>
	</div>

	<div class="right"><p><%= @deal.legalese %></p><%= markdown @deal.description %></div>
			
</div>
