<div class="doc">

	<h1>Resources</h1>
	<hr />
	<table width="100%">
		<tr><td><a href="/how-it-works">How It Works Narrative</a></td></tr>
		<tr><td><a href="/downloads/MerchantProcessChart.zip">Process Flow Chart</a></td></tr>
		<tr><td><a href="/downloads/AdvantagesChart.pdf">Advantages Chart</a></td></tr>
		<tr><td><a href="http://cityslicking.jarrodtaylor.com/">Demo Site</a></td></tr>
		<tr><td><a href="/downloads/CityslickingAdvertisingAndPromotionsAgreement.zip">Merchant Agreement</a></td></tr>
		<tr><td><a href="mailto:suggestions@cityslicking.com">Charity Suggestions</a></td></tr>
	</table>
	
</div>
