<div class="doc">

	<h1>ADVERTISING AND PROMOTIONS AGREEMENT</h1>
	
	<p>This Agreement for Advertising and Promotions (the "Agreement") is made and effective <strong><em><%= format_day Time.now %></em></strong></p>
	
	<h3>BETWEEN:</h3>
	
	<p><strong>CitySlicking, LLC</strong> (the “Advertising Service Provider” or “ASP”), a company organized and existing under the laws of the State of California with its head office located at:</p>
	
	<p>
		CitySlicking<br />
		P.O. Box 1578<br />
		Jamestown, CA  95327
	</p>
	
	<h3>AND:</h3>
	
	<p>
		<%= params[:text1] %> (the "Customer"), a company organized and existing under the laws of the State of
		<%= params[:text2] %>, with its head office located at:
	</p>
	
	<p><%= params[:text3] %></p>
	
	<h2>ENGAGEMENT OF SERVICES</h2>
	<p>
		<%= params[:text4] %>, (the “Customer” hereinafter) will work with CitySlicking, LLC  (the “Advertising Service Provider” or “ASP” hereinafter) representative to offer coupons and other promotional information via the City-Slicking websites (e.g. www.city-slicking.com).  Each iteration of such offerings is hereinafter termed as a “campaign”.
	</p>
	
	<h2>COMPENSATION</h2>
	<p>The Customer will pay the Advertising Service Provider for each campaign as set forth in Schedule A. Advertising Service Provider and the Customer will discuss the creation of each campaign including its value to the consumer and its design with the intention of promoting the attainment of specific Customer goals.</p>
	
	<h2>INVOICING AND PAYMENT</h2>
	<p>The ASP will be responsible for invoicing the Customer for the services provided.  The Customer shall pay invoices within 15 days of their date.  If payments are not received in that period, a late fee may be added.</p>
	
	<h2>IMPLEMENTATION</h2>
	<p>The ASP will provide the Customer with a temporary, online preview of each campaign for validation or adjustment.  ASP will have the right to activate the campaign after the preview is presented to the Customer.  Verbal consent from the Customer will be considered sufficient in order to activate the campaign and make promotions viewable on the City-Slicking websites.</p>
	
	<h2>ACCOUNT DIRECTORS</h2>
	<p>The Advertising Service Provider will appoint an account director and the Customer will authorize a decision-making representative.  If either of these change, the parties shall notify one another.</p>
	
	<h2>REPORTING</h2>
	<p>See Schedule A.  All information received in connection with such reports shall be deemed to be "Confidential Information" in accordance with the terms of Section 8.2 ("Confidential Information").</p>
	
	<h2>AUDITS</h2>
	<p>With 30 days notification, the Customer shall have the right to audit the relevant data records of the ASP pertaining to the Customer which audit shall be conducted during regular business hours at the offices of the ASP in such a manner as not to interfere with the ASP's normal activities. If such audit shows that any of the ASP's invoices overstated the actual due to ASP by more than five percent, then the ASP shall correct the invoice(s) and pay the Customer all reasonable costs and expenses which may be incurred by Customer in conducting such audit.  All information received in connection with such audits, and the results thereof, will be deemed to be "Confidential Information" in accordance with the terms of Section 8.2 ("Confidential Information").</p>
	
	<h2>INTELLECTUAL PROPERTY RIGHTS</h2>
	<h3>Ownership and Assignment</h3>
	<p>ASP shall own all intellectual property rights in and to any art work, documents, inventions or ideas developed for the Customer in connection with the services the ASP is providing specifically for the Customer.</p>
	<h3>Confidential Information</h3>
	<p>Definition of Confidential Information. "Confidential Information" as used in this Agreement shall mean any and all technical and non-technical information and proprietary information, including without limitation, techniques, sketches, drawings, models, inventions, Intellectual Property, patent applications, know-how, processes, apparatus, equipment, algorithms, software programs, software source documents, and formulae related to the current, future and proposed products and services of Advertising Service Provider and/or the Customer, its suppliers and customers. Advertising Service Provider's and the Customer's information concerning research, experimental work, development, design details and specifications, engineering information, financial information, procurement requirements, purchasing and manufacturing information, customer lists, business forecasts, sales and merchandising and marketing plans and information.</p>
	<p>Nondisclosure and Nonuse Obligations. Both parties agree that they shall disclose Confidential Information only to those employees who need to know such information and certify that such employees have previously agreed, either as a condition of employment or in order to obtain the Confidential Information, to be bound by terms and conditions substantially similar to those of this Agreement.</p>
	<ul>
		<li>Exclusions from Nondisclosure Obligations. Either party’s obligations under Paragraph 8.2(b) ("Nondisclosure") with respect to Confidential Information shall terminate when it can be documented that: (a) the information was in the public domain at or subsequent to the time it was communicated by the disclosing party;  (b) the information was rightfully in the receiving party’s possession free of any obligation of confidence at or subsequent to the time it was communicated by the disclosing party; or (c) the information was developed by employees or agents of either party independently of and without reference to any information communicated  by a disclosing party. If either party is required to disclose the Confidential Information in response to a valid order by a court or other government body, or as otherwise required by law or as necessary to establish the rights of either party under this Agreement, each party agrees to provide the other with prompt written notice.</li>
		<li>Disclosure of Third Party Information. Neither party shall communicate any information to the other in violation of the proprietary rights of any third party.</li>
	</ul>
	
	<h2>TERM AND TERMINATION</h2>
	<h3>Term</h3>
	<p>This Agreement is effective as of the Effective Date set forth above and will remain in effect unless terminated as set forth below.</p>
	<h3>Termination by the Customer</h3>
	<p>Customer may terminate this Agreement, with or without cause, at any time upon 15 days prior written notice to the ASP.</p>
	<h3>Termination by The Advertising Service Provider (ASP)</h3>
	<p>The ASP may terminate this Agreement, with or without cause, at any time with or without prior written notice to the Customer.</p>
	<h3>Effects of Termination; Survival</h3>
	<p>In the event of the termination of this Agreement, all payments due shall accelerate and become due upon the effective date of termination to the extent that they have been earned. These remedies are in addition to any other remedies that may be available to the parties at equity or under law. The rights and obligations contained in Sections 8 ("Intellectual Property Rights"), 9 (Term and Termination), 11 (Governing Law; Jurisdiction) and 14 (Injunctive Relief for Breach) will survive any termination or expiration of this Agreement.</p>
	
	<h2>NOTICES</h2>
	<p>Any legal notice required or permitted by this Agreement shall be in writing and shall be delivered as follows with notice deemed given as indicated:</p>
	<ul>
		<li>by personal delivery when delivered personally;</li>
		<li>by overnight courier upon written verification of receipt;</li>
		<li>by telecopy or facsimile transmission upon acknowledgement of receipt of electronic transmission; or</li>
		<li>by certified or registered mail, return receipt requested, upon verification of receipt. Notice shall be sent to the addresses set forth above or such other address as either party may specify in writing.</li>
	</ul>
	
	<h2>GOVERNING LAW; JURISDICTION</h2>
	<p>This Agreement shall be governed in all respects by the laws of the State of California, as such laws are applied to agreements entered into within California.</p>
	
	<h2>SEVERABILITY</h2>
	<p>Should any provisions of this Agreement be held by a court of law to be illegal, invalid or unenforceable, the legality, validity and enforceability of the remaining provisions of this Agreement shall not be affected or impaired thereby.</p>
	
	<h2>WAIVER</h2>
	<p>The waiver by Advertising Service Provider of a breach of any provision of this Agreement by the Customer shall not operate or be construed as a waiver of any other or subsequent breach by the Customer. The waiver by the Customer of a breach of any provision of this Agreement by Advertising Service Provider shall not operate or be construed as a waiver of any other or subsequent breach by Advertising Service Provider.</p>
	
	<h2>INJUNCTIVE RELIEF FOR BREACH</h2>
	<p>Either party's breach of the obligations contained in Sections 8 ("Intellectual Property Rights") will entitle the other party to injunctive relief and/or a decree for specific performance, and such other and further relief as may be proper (including monetary damages if appropriate).</p>
	
	<h2>LEGAL FEES</h2>
	<p>If any action at law or in equity is necessary to enforce or interpret the terms of this Agreement, the prevailing party shall be entitled to reasonable attorney's fees, costs and necessary disbursements, in addition to any other relief to which the party may be entitled.</p>
	
	<h2>ENTIRE AGREEMENT</h2>
	<p>This Agreement constitutes the entire agreement between the parties relating to this subject matter and supersedes all prior or contemporaneous oral or written agreements concerning such subject matter. The terms of this Agreement will govern all Project Assignments and services undertaken by the ASP for the Customer. This Agreement may only be changed by mutual agreement of authorized representatives of the parties in writing.</p>
	
	<p>IN WITNESS WHEREOF, the parties have executed this Agreement as of the date first written above.</p>
	
	<p>
		<strong>CITYSLICKING, LLC</strong><br />
		Print Name and Title<br />
		<%= params[:text5] %><br />
		<em><%= format_day Time.now %></em>
	</p>

	<p>
		<strong>THE CUSTOMER</strong><br />
		Print Name and Title<br />
		<%= params[:text6] %><br />
		Zip code<br />
		<%= params[:text7] %><br />
		Last 4 digits of social security number<br />
		<%= params[:text8] %><br />
		<em><%= format_day Time.now %></em>
	</p>
	
<hr />

<hr />

<h1>Schedule A</h1>

<ul>
	<li>Daily Featured "Deals" will be located at City-Slicking.com</li>
	<li>A "Campaign" may consist of one or multiple "Deals".</li>
	<li>Featured Deals start at midnight.</li>
	<li>Featured Deals will typically run for 24 hours.</li>
	<li>Discount code delivery is billed in one of four ways as indicated:
		<ul>
			<li>SMS delivered discount codes -- $0.50 each</li>
			<li>Email and browser based reservation messages -- $0.65 each</li>
			<li>Email and browser based discount codes which are only delivered upon request after the reservation messages -- $1.10 each</li>
			<li>Codes delivered to GPS capable smartphones with location services running -- $2 each</li>
		</ul>
	</li>
	<li>When discount codes are delivered, they also have an expiration time/date which is viewable with the code.  The Merchant can choose at his/her discretion to honor the expiration time/date.</li>
	<li>All unexpired discount codes are to be honored throughout the whole length of the campaign.</li>
	<li>Printed discount codes are never to be honored.</li>
	<li>Once a smartphone Deal is opted for and used, the registered user will not be sent the same Deal a second time on the phone.  However, return discounts will be offered as well as incentives to share the deal with friends if they are included in the campaign.</li>
	<li>On both the website and the mobile site there will be a link to key information about the Deal which may include: 
		<li>an explanation of the Deal</li>
		<li>the address and phone number of the merchant</li>
		<li>a map of the merchants location</li>
		<li>an article about the merchant</li>
		<li>phone number of the merchant</li>
		<li>other information as necessary</li>
	</li>
	<li>The terms of use will be displayed on the Deal.
		<ul>
			<li>Example only: Restaurant
				<ul>
					<li>50% off</li>
					<li>Limit one per table</li>
					<li>Maximum discount $50 off bill</li>
					<li>Redeemable at: (locations)</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<h2>Reporting to Merchant by CitySlicking, LLC</h2>

<ul>
	<li>An invoice representing the summary accounting for the Deal’s discount codes sent during the featured deal period will be sent the day after the close of the 24 hour Featured Deal. Subsequently billings will follow monthly until the close of the campaign.  Payment on all invoices is due NET 15 days from invoice date</li>
	<li>Each time a Deal is delivered using location services in/near the store, we will track the user, date, time, location.</li>
	<li>We will report online the deal’s discount code delivery stats and they will be stated on the monthly invoice.</li>
</ul>

<h2>Provided at No Charge</h2>

<ul>
	<li>We will work with you to develop a high perceived consumer value for you campaign and the design for your Deal(s).  Will also consult with regards to achieving customer loyalty and appropriate follow up communications we can facilitate.</li>
	<li>We will work with you on writing a descriptive Article about your business which may contain photos.</li>
	<li>We will notify all City-Slicking users in your area and post your Deal(s) on City-Slicking websites</li>
	<li>We will donate approximately 10% of our net profit from your campaign to a local charity.</li>
</ul>

</div>