<div id="featured-deal">
	<img id="today-featured-deal" src="/images/feature_deals.png" />
	<img id="get-this-deal-free" src="/images/get_deal.png" />

	<a id="left-arrow" href="#"><img src="/images/arrow_left.png" /></a>
	<a id="right-arrow" href="#"><img src="/images/arrow_right.png" /></a>

	<div id="deal-info">
		<img id="deal-pic" src="/images/deals/<%= deal.id %>.jpg" />
		<div id="specs">
			<h1 style="color: #800; line-height: 120%; margin: 0;"><%= deal.title %></h1>
			<p class="buttons">
				<a href="#" class="pill" id="tell-a-friend">Tell a Friend</a>
				<a href="1" title="" <%= session[:user] ? 'class="save"' : 'class="sign-in"' %>><img src="/images/save_deal.png"></a>
				<a href="/deals/<%= deal.id %>" class="pill" id="see-details">See Details</a>
			</p>
			<p class="meta">
				<span class="legalese"><%= deal.legalese %></span>
				<span class="expiration">Expires <%= deal.expiration_date %></span>
			</p>
		</div>
	</div>
	
	<div id="other-deals">
		<a href="#" id="1" class="inactive">1</a>
		<a href="#" id="2" class="active">2</a>
		<a href="#" id="3" class="inactive">3</a>
	</div>
</div>