<div class="doc">
	
	<h1>The Pricing Advantage with City-Slicking</h1>
	
	<p>Flat fees mean we have no hidden agenda.  Unlike other mobile promotion or group buying companies, we don’t take a percentage of your deal and therefore are not interested in getting you, as a merchant, to increase your discount so that we get a larger percentage as a consequence.  Now, we know that your discounts need to grab the attention of consumers who are increasingly harried and overloaded with information.  However, we do not gain directly from convincing you to raise your discount to levels you cannot afford.</p>
	
	<p>Our fee structure is simple and is based solely upon the value of highly targeted promotions.  There is no up-front fee and in fact, many of our services are totally free.  You simply cannot beat our pricing method for its return on your marketing investment.</p>
	
	<p>We promote and thus brand your business and its value offerings for <strong>free</strong> on our websites.  Then, only when members of our subscriber community opt for your deal by downloading a reservation for it or its deal code, we will charge you based upon the method of downloading they use.</p>

	<p>During the first 24 hours of your active Deal, it is presented on our web and mobile sites in a Featured position.</p>

	<p>During your deal’s active period, four methods of deal code delivery are available to our users.  These methods are:</p>
	
	<ul>
		<li>SMS (texting, which is available on any mobile phone)</li>
		<li>Email (available on most mobile phones</li>
		<li>Browser based delivery to phones not having or not allowing the use of location services</li>
		<li>Delivery to smartphones utilizing their location services</li>
	</ul>
	
	<p>Deal codes are accompanied by specific expiration times/dates.  It is up to you as the Merchant whether or not to honor these.</p>
	
	<p>Deal codes are only valid if presented to you on the phone.  No printed deals are to be honored.</p>
	
	<p>For each person downloading your deal code or a 'deal reservation',  we charge a very small fee which is stipulated in the Schedule A portion of your Merchant Agreement with us.</p>
	
	<p>When a user opts for your deal via email or on their browser (i.e. no location services), the first message they receive is a "deal reservation" which specifies that your deal is reserved and available to them to download when they get to your place of business.  This acts as a behavioral prompt and a call to action.  When they 'click' the code delivery link on this reservation message or in their on-line account, they will then be delivered the deal’s discount code with, naturally, a higher confidence on our part that they are indeed a potential customer for you.</p>
	
	<p>Ideally, we want consumers to allow us to use their phone’s location services to get your deal code.  This way, using our GPS technology, we know when they arrive at your facility and only give them the actual code when they are there.  If they try to download it beforehand, we prompt them in a light-hearted manner to try again when they arrive.  We charge a little bit more for this delivery method because we are assured that these customers are in your place of business with your deal code.</p>
	
	<p>Once you have created a deal with us, we will assign you a special password which you can use together with your email to login to our site as a merchant-client and see the real time stats on your deal(s).  You will see how many people have opted for your deal via the several methods of delivery.</p>
	
</div>