<div class="doc">
	
	<h1>The Pricing Advantage with City-Slicking</h1>
	
	<p>Flat fees mean we have no hidden agenda.  Unlike other mobile promotions companies, we don’t take a percentage of your deal and therefore are not interested in getting you, as a merchant, to increase your discount so that we get a larger percentage as a consequence.  Now, we know that your discounts need to grab the attention of consumers who are increasingly harried and overloaded with information.  However, we do not gain directly from convincing you to raise your discount to levels you cannot afford.</p>
	
	<p>Our fee structure is simple and is based solely upon the value of highly targeted promotions.  There is no up-front fee and in fact, many of our services are totally free.  You cannot beat our pricing method for its return on your marketing investment.</p>
	
	<p>We promote and thus brand your business and its value offerings for free on our websites.  Then, only when members of our subscriber community opt for your deal by downloading its deal code, we will charge you based upon the method of downloading they use.</p>
	
	<p>During the first 24 hours of your deal, three methods of deal code delivery are available and your promotion is placed in the featured deal spot on our sites.  These methods are:</p>
	
	<ul>
		<li>SMS (texting, which is available on any mobile phone)</li>
		<li>Email (available on most mobile phones)</li>
		<li>Delivery to smartphones utilizing their location services</li>
	</ul>
	
	<p>Deal codes are only valid if presented to you on the phone.  No printed deals are to be honored.</p>
	
	<p>After this first 24 hours, the SMS option is no longer available to consumers but the other two methods continue for the length of the deals campaign.</p>
	
	<p>For each person downloading your deal code by way of SMS we charge a very small fee which is stipulated in the Schedule A portion of your Merchant Agreement with us.  The same is true for the other two methods as well.</p>
	
	<p>Email downloading and presentation to you, the merchant takes a little bit more effort on the part of the consumer and reflects more intent/interest in taking advantage of your deal so we charge a small amount more than for SMS.</p>
	
	<p>Ideally, we want consumers to allow us to use their phone’s location services to get your deal code.  This way, we know when they arrive at your facility and only give them the actual code when they are there.  If they try to download it beforehand, we prompt them to try again when they arrive.  We charge a little bit more for this delivery method because it leads them to your place of business with your deal code.</p>
	
	<p>Once you have created a deal with us, we will assign you a special password which you can use together with your email to login to our site as a merchant-client and see the real time stats on your deal(s).  You will see how many people have opted for your deal via texting, email and using their phone’s  location services.</p>
	
</div>